<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
 <!DOCTYPE service-group SYSTEM "avahi-service.dtd">
  <service-group>
   <name replace-wildcards="yes">%h Database</name>
   <service>
   <type>_db._tcp</type>
  <port>5432</port>
 </service>
</service-group>
